{% extends 'frontend/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>About</h1>
  <p>Selecciona una opción del menú para continuar.</p><br>
  <p>Cuando KaSaMa fundaron KSM en el año del dragon, no sabían que pronto revolucionarían el isekai del Maou. Hoy en día, KSM es la empresa de demoniaca líder en el mundo. Contamos con más de 666 personas en más de 666 países, ciudades y territorios, quienes trabajan por el puro gusto de trabajar cruzando fronteras, con puestos en los nuevos mercados y haciendo crecer el negocio, o simplemente para llevar el chisme sus seres queridos.</p>
{% endblock %}
